{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
        Todo Details
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ todo.title }}</h5>
        <p class="card-text">{{ todo.description }}</p>
        <p class="card-text">
            <strong>Due Date:</strong> {{ todo.due_date|default:"None" }}<br>
            <strong>Status:</strong> {% if todo.is_resolved %}Resolved{% else %}Pending{% endif %}
        </p>
        <a href="{% url 'todo-edit' todo.pk %}" class="btn btn-secondary">Edit</a>
        <a href="{% url 'todo-list' %}" class="btn btn-primary">Back to List</a>
    </div>
</div>
{% endblock %}